* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* Import Poppins font style */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Import Raleway font style */
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

.Dashboard {
  width: 100%;
  /* height: 100vh; */
  display: flex;
}

/* CSS for left slider */
.sidebar {
  width: 20%;
  background-color: #d2e6e4;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
  height: 117vh;
}

.logoplusafter {
  display: flex;
}

.after-logo p {
  margin-left: 20px;
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #0b7077;
}

.logo p {
  margin-left: 60px;
  font-weight: bold;
  font-size: 16px;
  color: #213452;
  font-weight: bold;
}

nav {
  margin-top: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

nav ul li {
  margin-bottom: 20px;
  width: 100%;
  margin: 30px 10px;
}

nav ul li a {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 19.96px;
  text-decoration: none;
  color: #444444;
  display: flex;
  align-items: center;
}

nav ul li a:hover {
  color: #00796b;
}

nav ul li a img{
  height: 20px;
  width: 20px;
}

.icon {
  /* margin-right: 40px; */
  font-size: 20px;
}

.notification-dot {
  background-color: red;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 20px;
}

/* CSS for Dashboard middle  */
.Dashboard-middle {
  width: 80%;
  height: 40vh;
  background: white;
}
.Earning {
  position: absolute;
  top: 5px;
  margin-top: 20px;
  margin-left: 20px;
  font-family: "Raleway" sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.13px;
  color: #000000;
}
.input-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 30%;
  height: 30%;
  left: 35%;
  top: 5%;
}

.input-section input {
  padding: 8px;
  padding-left: 30px;
  background: white;
  border-radius: 10px;
  width: 100%;
  border: 1px solid #d0d5dd;
  font-family: "Raleway", sans-serif;
}

.input-section img {
  position: absolute;
  left: 85%;
  opacity: 0.7;
}

/* Cards */
.dashboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 20px;
  width: 70%;
  position: relative;
  left: 5%;
  /* white-space: nowrap; */
  margin-top: 5%;
}
.dashboard .card {
  padding: 6px 12px;
  border-radius: 8px;
  /* text-align: center; */
  background-color: #d2e6e4 !important;
  border: none !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  margin: 8px;
}

.dashboard .card img {
  /* position: relative; */
  /* top: 30%; */
  /* left: 5%; */
  width: 28px;
  height: 28px;
  margin-right: 20px;
}

.dashboard .card .value {
  /* font-size: 20px; */
  font-weight: 500;
  /* position: absolute; */
  /* top: 0%; */
  /* left: 80px; */
}
.dashboard .card .label {
  font-size: 13px;
  color: #555;
  /* margin-bottom: 10px; */
  /* position: relative; */
  /* top: 0%; */
  /* left: 6%; */
}

/* hbhhjh  */

.course-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  /* margin-left: 10%; */
  margin-left: 4%;
  height: 80vh;
}

.course-card {
  background-color: #0b7077;
  color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 10px;
}

/* .course-card.light {
  background-color: #dbeff1;
  color: #000;
} */

.course-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 20px;
}

.course-number {
  font-weight: bold;
  background: #0d4059;
  width: 35%;
  color: #05e6f2;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  padding: 0 10px;
}

.course-header h3 {
  margin: 0;
  font-size: 1.2em;
  background: #2d9cdb;
  width: 74%;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  padding: 0 10px;
}

.sitting {
  position: relative;
  left: 70%;
  top: 10%;
  width: 25%;
}

.course-footer {
  justify-content: space-between;
  align-items: center;
  font-size: 0.9em;
  margin-top: 10px;
  background: #d2e6e4;
}

.course-footer p {
  color: #4f4f4f;
  padding: 7px 7px;
  font-weight: bold;
  font-size: 0.9rem;
}
.author img {
  margin-bottom: 20px;
}

.author {
  display: flex;
  align-items: center;
}
.ls {
  margin-left: 35%;
}

/* lighter card  */

.course-card-light {
  background-color: #d2e6e4;
  color: #000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 10px;
}

.school2 {
  position: relative;
  left: 30px;
  top: 20px;
}

.lessons {
  color: #828282;
  margin-left: 50%;
  font-family: "Raleway", sans-serif;
}

.course-header1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 20px;
}

.course-number1 {
  width: 30%;
  font-weight: bold;
  margin-left: 10%;
  font-family: "Raleway", sans-serif;
}

.course-header1 h3 {
  margin: 0;
  font-size: 1.2em;
  width: 70%;
  margin-left: 10%;
  margin-top: 5%;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}

.sitting2 {
  position: relative;
  left: 45%;
  top: 10%;
  width: 25%;
}

.course-footer1 {
  background: #d2e6e4;
}

.course-footer1 p {
  padding: 7px 7px;
  font-weight: bold;
  font-size: 0.9rem;
}

/* course 4 */
.course-card-light4 {
  background-color: #0b7077;
  color: #000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 10px;
}

.school4 {
  position: relative;
  left: 30px;
  top: 20px;
}

.lessons4 {
  color: white;
  margin-left: 50%;
  font-family: "Raleway", sans-serif;
}

.course-header4 {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 20px;
  color: white;
}

.course-number4 {
  width: 30%;
  font-weight: bold;
  margin-left: 10%;
  font-family: "Raleway", sans-serif;
}

.course-header4 h3 {
  margin: 0;
  font-size: 1.2em;
  width: 70%;
  margin-left: 10%;
  margin-top: 5%;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}

.sitting4 {
  position: relative;
  left: 45%;
  top: 10%;
  width: 25%;
}

.course-footer4 {
  background-color: #0b7077;
}

.course-footer4 p {
  padding: 7px 7px;
  font-weight: bold;
  font-size: 0.9rem;
  color: white;
}

/* pagination */

.pagination {
  /* justify-content: end; */
  margin-top: 20%;
  margin-left: 90%;
}

.page-number,
.next {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  cursor: pointer;
}

.page-number.active,
.page-number:hover,
.next:hover {
  background-color: #0b7077;
  color: white;
}

/* CSS for Dashboard Right */

/*.Dashboard-right {
   width: 20%; 
}*/
.dash-right-card {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0.5px 6px rgba(0, 0, 0, 0.1);
  /* width: 300px; */
  width: 276px;
  margin-bottom: 35px;
  position: absolute;
  left: 78%;
  bottom: 80%;
}

.profile-pic {
  position: relative;
}

.profile-pic img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.online-status {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: #28a745;
  border: 2px solid #fff;
  border-radius: 50%;
}

.user-info {
  flex: 1;
  margin-left: 15px;
}

.name {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.41px;
  color: #2c3e50;
  margin-bottom: 5px;
}

.role {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 12.89px;
  color: #babec6;
}

.notifications {
  position: relative;
}

.notification-icon {
  position: relative;
  width: 24px;
  height: 24px;
}

.notification-icon::before {
  content: "\1F514";
  font-size: 24px;
  color: #6c757d;
}

.notification-count {
  position: relative;
  bottom: 45px;
  left: 10px;
  background-color: #ff4757;
  color: #fff;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
}
/* CSS for Payout Details */

.container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

header h2 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.menu-button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #999;
}

.payout-detail {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.payout-detail:last-child {
  border-bottom: none;
}

.icon {
  background: url("user-icon.png") no-repeat center center;
  background-size: contain;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* margin-right: 15px; */
  margin-top: 15px;
}

.details {
  flex-grow: 1;
}

.name {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.amount {
  font-size: 14px;
  color: #666;
}
.arrow {
  font-size: 20px;
  color: #999;
}

/* CSS for Footer Up Section */

.footer-up {
  width: auto;
  background: #d2e6e4;
  margin-top: 30%;
  display: flex;
}

.foot-left {
  width: 40%;
  height: 50vh;
}

.foot-left h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  color: #0b7077;
  margin: 0px 80px 180px 80px;
  position: relative;
  top: 25%;
}

.foot-left p {
  color: #03989e;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0px 80px 180px 80px;
}

.foot-right {
  width: 40%;
  height: 50vh;
  display: flex;
  justify-content: space-between;
}

.product {
  position: relative;
  top: 10%;
}

.product h2 {
  color: #98a2b3;
  font-weight: 600;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  line-height: 20px;
}

.product ul {
  list-style: none;
  color: #03989e;
  display: inline;
  font-weight: 500;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  line-height: 24px;
}

.product ul li {
  margin: 10px 0;
}

.product ul li a {
  text-decoration: none;
  color: #03989e;
}

/* CSS for Footer Section */

.footer {
  height: 20vh;
  background: #03989e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 5%;
}

.footer-left h2 {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  line-height: 24px;
}

.icon1 img {
  margin-right: 20px;
}

/* Media Queries for responsiveness */

@media (max-width: 1200px) {
  .sidebar {
    width: 25%;
  }

  .Dashboard-middle {
    width: 75%;
  }

  .Dashboard-right {
    width: 100%;
    max-width: 25%;
  }

  .chart-container {
    width: 100%;
    max-width: 600px;
  }
}

@media (max-width: 992px) {
  .sidebar {
    width: 100%;
    /* max-width: 30%; */
  }

  .Dashboard-middle {
    width: 70%;
  }

  .Dashboard-right {
    width: 100%;
    max-width: 30%;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    /* max-width: 100%; */
  }

  .Dashboard-middle {
    width: 100%;
  }

  .Dashboard-right {
    width: 100%;
    max-width: 100%;
  }

  .input-section {
    width: 100%;
    max-width: 100%;
    justify-content: center;
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .dashboard {
    grid-template-columns: repeat(3, 1fr);
  }
  .dashboard .card{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .chart-container {
    width: 100%;
  }

  .footer-up,
  .foot-left,
  .foot-right {
    width: 100%;
    text-align: center;
  }

  .chart-header {
    flex-direction: column;
  }
}

@media screen and (max-width:850px){
  .dashboard{
    display: flex;
    flex-wrap: wrap;
  }
  .dash-mid-mid .dashboard .card{
    margin: 8px;
  }
}

@media screen and (max-width:877px){
  .Dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
    /* width: 100%;  */
    /* display: block; */
    /* box-sizing: border-box; */
    width: fit-content;
    height: fit-content;
    align-self: flex-start;
  }
  nav ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* border: 2px solid grey; */
  }
  nav ul li a{
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
    width: fit-content;
    /* border: 1px solid green; */
  }
  .Earning{
    position: relative;
  }
  .dash-right-card{
    position: relative;
  }
}