* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

body p {
  margin: 0;
}

body a {
  text-decoration: none;
  color: #000;
}

body a:hover {
  color: #000 !important
}
ul {
  list-style: none;
}

input:focus, select:focus, textarea:focus {
outline: none;
}

.navbar {
  width: 100% !important;
  padding: 10px !important;
}

.navbar .left-section {
  position: relative
}

.navbar .left-section , .right-section {
  display: flex;
  align-items: center !important;
  justify-content: center;
}

.left-section .logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 10px;
}

.left-section .company-name {
  color: #0085FF !important;
  margin: 0 30px 0 0!important;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.4rem
}

.left-section .categories {
  font-size: 0.9rem;
  font-weight: 500;
}

.left-section .categories:hover,
.left-section .company-name,
.left-section li:hover {
  cursor: pointer
}


.left-section .main-category {
  top: 60px;
  left: 420px;
  position:absolute;
  width: max-content
}

.left-section .main-category, .left-section .web-development-category,  .left-section .mobile-developement-category,  .left-section .programming-category,  .left-section .engineering-category,  .left-section .block-chain-category,  .left-section .iot-category,  .left-section .cloud-category,  .left-section .data-science-category,  .left-section .cybersecurity-category {
  list-style: none;
  background-color: #fff;
  padding: 15px 15px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0 0 9.1px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 2;
}

.left-section ul li {
  padding-top: 20px;
  font-size: 0.9rem;
}

.left-section .category {
  top: 70px;
  right: 75px;
  width: max-content;
  z-index: 30;
}

.left-section .main-category, .left-section .web-development-category,  .left-section .mobile-developement-category,  .left-section .programming-category,  .left-section .engineering-category,  .left-section .block-chain-category,  .left-section .iot-category,  .left-section .cloud-category,  .left-section .data-science-category,  .left-section .cybersecurity-category {
  display: none;
}

.left-section .main-category.active {
  display: block;
}

.left-section .category.active {
  display: block;
}


.searchBar {
  position: relative;
  margin: 0 20px;
  border-radius: 5px;
  border: 1px solid #D0D5DD;
  background-color: #F2FFFB;
}

.searchBar input{
  background-color: #fff;
  padding: 8px;
  padding-left: 30px;
  width: 200px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  font-weight: 300;
  font-size: 0.9rem;
}

.explore {
  padding: 0 5px;
}

.searchBar .fa-search {
    position: absolute;
    left: 10px;
    top: 8px;
    color: #98A2B3;
}

.navbar .right-section a {
    font-size: 0.9rem;
    font-weight: 500;
}

.navbar .right-section {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.navbar  a.active {
  color: #0085FF !important
}

.navbar  a:hover {
  cursor: pointer;
  color: #0085FF !important
}

.right-section .cart {
  font-size: 1.5rem;
  margin-right: 20px;
}

.right-section .cart:hover {
  color: #0085FF;
  cursor: pointer;
}

.right-section .cart.active {
  color: #0085FF;

}

.right-section .profile i {
  margin-left: 8px;
}

.right-section .profile i.rotate {
  transform: rotate(180deg)
}

.right-section .profile i:hover {
  cursor: pointer;
}

.right-section .profile-container {
  position: relative;
}

.right-section .profile-container ul {
  position: absolute;
  right: 15px;
  top: 55px;
  background-color: rgba(230, 230, 230, 0.4); /* Add transparency */
  backdrop-filter: blur(10px); /* Apply blur effect */
  padding-left: 0;
  border-radius: 8px;
  border: none;
  width: 200px;
  z-index: 10;
  display: none;
}
.right-section .profile-container ul.active {
  display: block;
}

.right-section .profile-container a {
  color: #000;
  margin: 0;
  font-weight: 400;
}
.right-section .profile-container a:hover {
  color: #000 !important
}
.right-section .profile-container li {
  padding: 10px 20px;
  border: 0.5px solid transparent;
  text-decoration: none;
  font-size: 0.9rem;
}

.right-section .profile-container li:hover {
  background-color: #C3C3C3;
  border-radius: 8px;
  text-decoration: underline;
  cursor: pointer;
}

.right-section .profile-container li.active {
  background-color: #C3C3C3;
  border: 0.5px solid #747474;
}

.profile-container .profile-btn {
    border: 1px solid #000;
    padding: 5px 15px;
}

.profile-btn:hover {
    border-radius: 5px;
}
.profile-container.inactive {
    display: none;
}

.course-page-container {
    display: flex !important;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.first-container {
    width: 50%;
    margin-right: 10%;
    margin-left: 3%;
}

.second-container {
    width: 50%;
}

.course-page-container .first-container h2 {
    font-weight: 600;
    font-size: 1.7rem;
    margin-bottom: 15px;
}

.rating-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 0;
  }

  .rating-container .rating{
    margin-right: 8px;
    font-weight: 600;
  }

  .rating-container .rating-icons {
    margin-right: 8px;
    color: #FFB602;
    margin-bottom: 8px;
  }

  .rating-container .views {
    opacity: 0.5;
  }

  .flex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .flex i,
  .flex img {
    margin-right: 10px
  }

  .small-details {
    margin-top: 10px;
  }

  .small-details .updated-date{
    margin-right: 50px;
  }

  .second-container .card {
    width: 60%;
    margin-bottom: 30px;
  }

  .second-container .card img {
    width: 100%;
  }

  .card .buttons {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

  .cart-btn {
    background-color: #0085FF;
    border-radius: 50px;
    border: none;
    padding: 15px 60px;
    font-weight: 600;
    margin-right: 10px;
}

.cart-btn:hover {
    background-color: #625858;
    color: #fff;
}

.buttons .like {
    border: 3px solid #000;
    border-radius: 50%;
    padding: 6px 10px;
}

.buttons .like:hover {
    cursor: pointer;
}

.buttons .like .inactive {
    display: none;
}

.first-container .border {
    padding: 30px;
    margin-top: 30px;
    border: 1px solid #000 !important;
    margin-bottom: 30px;
}

.accordion {
    margin-top: 30px;
}

.accordion .accordion-item {
    border: 1px solid #000 !important
}

.accordion-header {
    display: flex;
    align-items: center;
}

.arrow-icon {
    margin-right: 10px;
}

.accordion-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.accordion-button::after {
    display: none;
}

.accordion-button span {
    flex-grow: 1;
}

.accordion-button p {
    margin-left: 10px;
}

.accordion .accordion-item img {
    margin-left: 10px;
}

.rotate-icon {
    transform: rotate(180deg); /* Rotate the icon when the class is present */
}

.accordion-button:not(.collapsed) {
    color: #000 !important;
    background-color: #fff !important;
    box-shadow: none !important;
}

.accordion-button.collapsed {
    box-shadow: none !important;
}

.first-container .show-more-btn {
    border: none;
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 30%;
    cursor: pointer;
}

.first-container .redirecting-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1.5px solid #000;
    font-size: 1.1rem;
    padding: 20px;
    width: 250px;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.redirecting-btn:hover {
    background-color: #CCBFBF;
}

.reviews-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.review {
    border-top: 1.5px solid #000;
    border-bottom: 1.5px solid #000;
    padding: 20px;
    margin: 25px;
}

.footer-section {
    background-color: #101828;
    color: white;
    padding-top: 40px;
    padding-bottom: 15px;
    text-align: center;
}

.company-details {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.company-details .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 250px 
}

.company-details .description .logo {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: #D9D9D9;
    margin-bottom: 10px;
}

.company-details .app {
    margin: 15px;
}

.company-details .app .android,
.company-details .app .apple {
    background-color: #000;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 8px;
    margin-top: 20px;
}

.more-items {
    margin: 15px;
}

.more-items ul {
    text-align: left;
    font-size: 0.95rem;
    line-height: 1.5rem
}

.links {
    margin: 15px;
}

.links .socials i {
    font-size: 1.8rem;
    margin-right: 12px;
}

.links .address {
    margin-top: 30px;

}

.links .address div {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.links .address div p {
    margin-left: 10px;

}

@media screen and (max-width: 1130px) {
    .second-container .card {
        width: 75%;
    }
}

@media screen and (max-width: 1000px) {
    .navbar .right-section {
        gap: 15px;
    }
}


@media screen and (max-width: 950px) {
    .navbar .left-section .categories {
        display: none;
    }

    .navbar .searchBar {
        display: none;
    }
}

@media screen and (max-width: 910px) {
    .second-container .card {
        width: 90%;
    }
}

@media screen and (max-width: 790px) {
    .navbar .left-section .searchBar input {
        width: 100%;
    }
    .second-container .card .cart-btn {
        padding: 10px 30px;
    }
}

@media screen and (max-width: 690px) {
    .navbar {
        flex-wrap: nowrap !important;
    }

    .navbar .left-section .company-name {
        display: none;
    }
}

@media screen and (max-width: 670px) {
    
    .course-page-container {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .course-page-container .first-container,
    .course-page-container .second-container {
        width: 80%;
    }
    .second-container .card .cart-btn {
        padding: 10px 50px;
    }
}

@media screen and (max-width: 550px) {
  .header-section .lower-section {
    display: none;
  }

  .navbar .right-section .btn {
    z-index: 10;
  }

  .navbar .right-section a {
    font-size: 0.8rem;
    margin-right: 10px;
  }
}

@media screen and (max-width: 478px) {
    .navbar .right-section .home {
        display: none;
    }

    .navbar .right-section a {
        font-size: 0.7rem;
        margin: 0;
    }

    .left-section .logo {
        margin-right: 5px;
    }
}

@media screen and (max-width: 375px) {
  .navbar {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-wrap: nowrap !important;
    gap: 10px;
  }

  .navbar .left-section .logo {
    width: 40px;
    height: 40px;
  }

  .navbar .right-section a {
    font-size: 0.7rem;
    margin-right: 12px;
  }

  .navbar .right-section i {
    width: 10px;
    height: 10px;
  }
}