@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-family: 'DM Sans', sans-serif;
    background-color: #ffffff;
}

#pending-payment-heading {
    margin-top: 30px;
}

/* Current page information styling */
.total-row-current-page-container {
    width: 85vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.current-page {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.current-page-info {
    margin: 0px 5px;
    font-weight: bold;
    cursor: pointer;
}

.home-icon {
    margin-right: 5px;
}

.page-arrow, .home-icon {
    width: 22px;
    height: 22px;
}

/* edit accounts buttons styling start */

.edit-buttons-container {
    width: 330px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.edit-btns {
    width: 80px;
    height: 40px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

#detailsBtn {
    background-color: #DE5753;
    color: white;
}

#editBtn {
    background-color: #e1e0e0;
    color: black;
}

.suspendAccountBtn-container {
    display: flex;
    justify-content: end;
    width: 90%;
    margin-top: 40px;
    margin-bottom: 50px;
}

#createAccountBtn {
    width: 150px;
    color: white;
    background-color:#FF7675;
}

#suspendAccountBtn {
    width: 150px;
    color: white;
    background-color:#686868;
}

#activateAccountBtn {
    width: 150px;
    color: white;
    background-color:#686868;
}

/* edit accounts buttons styling ends */

/* Table styling */
.table-container {
    margin-top: 40px;
    width: 90%;
}

.table-container table {
    width: 100%;
}

table {
    width: 90%;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 300px;
    border-radius: 10px;
    font-family: 'DM Sans', sans-serif;
    margin-top: 30px;
    border-collapse: collapse; /* Ensure borders are combined */
}

#activeAccountsTable {
    position: relative;
}

#suspendedAccountsTable {
    position: relative;
}

table th, table td {
    text-align: center;
    font-size: 15px;
    padding: 10px;
    border: 2px solid black; /* Set the cell borders */
}

table th {
    font-weight: bold;
    background-color: #e4e4e4;
}

table th:first-child, table td:first-child {
    width: 80px;
}

thead {
    color: #212121;
}

tr {
    cursor: pointer;
    transition: all 0.5s;
}

tr:hover {
    box-shadow: 0px 3px 2px rgba(128, 128, 128, 0.849);
}

/* Pagination styling */
.pagination {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    margin: 20px 50px;
}

.pagination .next-previous-button {
    cursor: pointer;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    margin: 0 10px;
    transition: all 0.3s;
}

.next-previous-button:hover {
    background-color: rgb(197, 195, 195);
}

.page-buttons {
    display: flex;
    gap: 10px;
}

#pageSelect, #pageSelect2 {
    border-radius: 5px;
    padding: 2px;
    border: none;
    background-color: rgb(226, 226, 226);
    box-shadow: 0px 0px 5px rgb(177, 177, 177);
}

#pageSelect option, #pageSelect2 option {
    border-radius: 5px;
    padding: 2px;
}

.suspend-account-popup{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff85;
    top: 20%;
    left: 0;
    display: none;
}

.activate-account-popup{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff85;
    top: 125%;
    left: 0;
    display: none;
}

.main-pop-up{
    width: 25rem;
    height: 10rem;
    position: absolute;
    display: flex;
    top: 40%;
    left: 30%;
    flex-direction: column;
    align-content:center;
    justify-content: space-evenly;
    background: #ffffff;
    border: 2px solid black;
}

.main-pop-up p{
    text-align: center;
}

.popup-btn-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

#popup-suspend-btn{
    width: 150px;
    color: white;
    background-color:#FF7675;
}

#popup-activate-btn{
    width: 150px;
    color: white;
    background-color:#FF7675;
}

#popup-cancel-btn{
    width: 150px;
    color: white;
    background-color:#686868;
}

#popup-cancel-btn2{
    width: 150px;
    color: white;
    background-color:#686868;
}


/* Actions column styling */
.actions {
    display: flex;
    padding-left: 10%;
    font-weight: 600;
    height: 100%;
    border-left: none;
    border-top: 1px solid black;
    border-right: 2px solid black;
    border-bottom: 1px solid black;
}

.edit {
    color: #E75D18;
    margin: 1px 5px;
}
.details {
    margin: 1px 5px;
}

.suspend, .activate {
    color: #3B82F6;
    margin: 1px 5px;
    background: none;
    border: none;
    height: 20px;
    font-weight: 600;
    cursor: pointer;
}

.action-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
}

.action-links a {
    text-decoration: none;
}

.action-links .detail-btn {
    color: black;
}

.action-links .edit-btn {
    color: #3B82F6;
}

.action-links .suspend-btn {
    color: red;
}