* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

body p {
  margin: 0;
}

body a {
  text-decoration: none;
  color: #000;
}

body a:hover {
  color: #000 !important
}

ul {
  list-style: none;
}

input:focus, select:focus, textarea:focus {
  outline: none;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.navbar {
  width: 100% !important;
  padding: 10px !important;
  flex-wrap: nowrap !important;
}

.navbar .left-section {
  position: relative
}

.navbar .left-section , .right-section {
  display: flex;
  align-items: center !important;
  justify-content: center;
}

.left-section .logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 10px;
}

.left-section .company-name {
  color: #0085FF !important;
  margin: 0 30px 0 0!important;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.4rem
}

.left-section .categories {
  font-size: 0.9rem;
  font-weight: 500;
}

.left-section .categories:hover,
.left-section .company-name,
.left-section li:hover {
  cursor: pointer
}


.left-section .main-category {
  top: 60px;
  left: 420px;
  position:absolute;
  width: max-content
}

.left-section .main-category, .left-section .web-development-category,  .left-section .mobile-developement-category,  .left-section .programming-category,  .left-section .engineering-category,  .left-section .block-chain-category,  .left-section .iot-category,  .left-section .cloud-category,  .left-section .data-science-category,  .left-section .cybersecurity-category {
  list-style: none;
  background-color: #fff;
  padding: 15px 15px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0 0 9.1px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 2;
}

.left-section ul li {
  padding-top: 20px;
  font-size: 0.9rem;
}

.left-section .category {
  top: 70px;
  right: 75px;
  width: max-content;
  z-index: 30;
}

.left-section .main-category, .left-section .web-development-category,  .left-section .mobile-developement-category,  .left-section .programming-category,  .left-section .engineering-category,  .left-section .block-chain-category,  .left-section .iot-category,  .left-section .cloud-category,  .left-section .data-science-category,  .left-section .cybersecurity-category {
  display: none;
}

.left-section .main-category.active {
  display: block;
}

.left-section .category.active {
  display: block;
}


.searchBar {
  position: relative;
  margin: 0 20px;
  border-radius: 5px;
  border: 1px solid #D0D5DD;
  background-color: #F2FFFB;
}

.searchBar input{
  background-color: #fff;
  padding: 8px;
  padding-left: 30px;
  width: 200px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  font-weight: 300;
  font-size: 0.9rem;
}

.explore {
  padding: 0 5px;
}

.searchBar .fa-search {
    position: absolute;
    left: 10px;
    top: 8px;
    color: #98A2B3;
}

.navbar .right-section a {
  margin-right: 30px;
  font-size: 0.9rem;
  font-weight: 500;
}

.navbar .right-section {
  position: relative
}

.navbar  a.active {
  color: #0085FF !important
}

.navbar  a:hover {
  cursor: pointer;
  color: #0085FF !important
}

.right-section .cart {
  font-size: 1.5rem;
  margin-right: 20px;
}

.right-section .cart:hover {
  color: #0085FF;
  cursor: pointer;
}

.right-section .cart.active {
  color: #0085FF;

}

.right-section .profile i {
  margin-left: 8px;
}

.right-section .profile i.rotate {
  transform: rotate(180deg);
}

.right-section .profile i:hover {
  cursor: pointer;
}

.right-section .profile-container {
  position: relative;
}

.right-section .profile-container ul {
  position: absolute;
  right: 15px;
  top: 55px;
  background-color: rgba(230, 230, 230, 0.4); /* Add transparency */
  backdrop-filter: blur(10px); /* Apply blur effect */
  padding-left: 0;
  border-radius: 8px;
  border: none;
  width: 200px;
  z-index: 10;
  display: none;
}

.right-section .profile-container ul.active {
  display: block;
}

.right-section .profile-container a {
  color: #000;
  margin: 0;
  font-weight: 400;
}

.right-section .profile-container a:hover {
  color: #000 !important;
}

.right-section .profile-container li {
  padding: 10px 20px;
  border: 0.5px solid transparent;
  text-decoration: none;
  font-size: 0.9rem;
}

.right-section .profile-container li:hover {
  background-color: #C3C3C3;
  border-radius: 8px;
  text-decoration: underline;
  cursor: pointer;
}

.right-section .profile-container li.active {
  background-color: #C3C3C3;
  border: 0.5px solid #747474;
}

  
.flex {
  display: flex;
  align-items: center;
}

.referral-progress-container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding: 3% 0;
  flex: 1;
}

.referral-progress-container .top-container {
  border: 1px solid #00000080;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 20px;
  margin-bottom: 40px;
  padding: 30px;
}

.top-container p {
  margin-bottom: 7px;
}

.top-container h6 {
  font-weight: 700;
}

.top-container h6:first-child {
  font-size: 1.1rem;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #000 !important;
  padding: 15px;
  text-align: left;
  width: 20%;
}

th {
  background-color: #0085FF;
  color: #fff;
  font-weight: 600;
  border: 1px solid #000;
}


.footer-section {
  background-color: #101828;
  padding-top: 40px;
  padding-bottom: 15px;
  padding-left: auto;
  padding-right: auto;
  text-align: center;
}
  
.footer-section li {
  text-align: left;
  color: #fff !important;
}

.company-details {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 40px;
  flex-wrap: wrap;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.company-details .app {
  margin-left: 10px;
}

.app p {
  margin: 0;
}

.more-items {
  margin: 15px;
}

.more-items ul {
  text-align: left;
  font-size: 0.95rem;
}

.footer-section li {
  margin-bottom: 5px;
  color: #fff !important;
}

.footer-section .list-header {
  color: #98A2B3 !important;
  font-weight: 500;
  text-decoration: none !important;
}

.footer-section li:hover {
  cursor: pointer;
  text-decoration: underline;
}


.socials i {
  font-size: 1.5rem;
  margin-right: 12px;
  color: #98A2B3
}

.socials i:hover {
  cursor: pointer;
  color: #fff;
}

.footer-below-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: #98A2B3;
}

@media screen and (max-width: 865px) {
  .navbar .left-section .searchBar {
    display: none;
  }

  .navbar .left-section .categories {
    display: none;
  }

  .company-details ul,
  .company-details .description,
  .company-details .app {
    margin-top: 10px;
  }

   .company-details{
    justify-content: space-between;
  }

  .company-details ul{
    width: 50%;
  }
}

@media screen and (max-width: 729px) {
   .company-details{
     justify-content: space-around;
     gap: 30px;
  }

  .company-details .description, .company-details .app{
    width: 100%;
    margin-bottom: 8px;
  }

  .company-details ul{
    width: 33%;
  }
}

@media screen and (max-width: 610px) {
  .footer-below-section {
    flex-direction: column-reverse;
  }
  .footer-below-section .socials {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 550px) {
  .navbar .company-name {
    display: none;
  }
  .header-section .lower-section {
    display: none;
  }
  .navbar .right-section .btn {
    z-index: 10;
  }
}

@media screen and (max-width: 478px) {
  .company-details {
    gap: 20px;
  }
}

@media screen and (max-width: 375px) {
  .navbar {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-wrap: nowrap !important;
    gap: 10px;
  }

  .navbar .left-section .logo {
    width: 40px;
    height: 40px;
  }

  .navbar .right-section a {
    font-size: 0.7rem;
    margin-right: 12px;
  }

  .navbar .right-section i {
    width: 10px;
    height: 10px;
  }

  .footer-section .company-details{
    justify-content: flex-start;
    gap: 10px;
  }
}