@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'DM Sans', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    padding-left: 8vw;
    box-sizing: border-box;
}

#referral-details-heading{
    margin-top: 30px;
}

/* current page information styling */
.total-row-current-page-container{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 85vw;
    margin-top: 30px;
}

.current-page{
    display: flex;
    flex-direction: row;
    align-items:center;
}

.current-page-info{
    margin: 0px 5px;
    font-weight: bold;
    cursor: pointer;
}
.home-icon{
    margin-right: 5px;
}

.page-arrow,.home-icon{
    width: 22px;
    height: 22px;
}

/* table styling STARTS */

/* CSS for styling the table and pagination controls */
table {
    width: 70%;
    border-collapse: collapse;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(50% - 20px); /* Adjust width and ensure wrapping */
    min-width: 300px; /* Minimum width for a table */
    border-radius: 10px;
    font-family: 'DM Sans', sans-serif;
    margin-top: 30px;
}

#referralTable2{
    width: 85vw;
}

#referralTable2 tbody {
    display: block;
    min-height: 40vh; /* Adjust based on your row height to ensure space for 10 rows */
}

#referralTable2 tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

#referralTable2 th, #referralTable2 td {
    text-align: center;
    font-size: 15px;
}

#referralTable2 thead tr #action{
    margin-left: 50px;
}
#referralTable2 thead tr #status{
    margin-left: 40px;
}

#referralTable2 th {
    padding: 10px 0px;
    font-weight: bold;
    border-bottom: 3px solid #EDEDFF;
}

#referralTable2 th:first-child, #referralTable2 td:first-child {
    width: 120px; /* Fixed width for S.no column */
}

#referralTable2 th:not(:first-child), #referralTable2 td:not(:first-child) {
    width: calc((100% - 120px) / 5); /* Equal width for the remaining columns */
}

.rest-table-data {
    width: 20%;
}

table thead, tbody {
    border: none;
}

.pagination {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 20px 50px;
    margin-right: 15vw;
}

#pagination2{
    margin-right: 8vw;
}

.pagination .next-previous-button {
    cursor: pointer;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    margin: 0 10px;
    transition: all 0.3s;
}

.next-previous-button:hover {
    background-color: rgb(197, 195, 195);
}

.page-buttons {
    display: flex;
    gap: 10px;
}

.total-rows {
    text-align: right;
    margin-right: 14vw;
}

.select-page {
    margin-right: 30px;
}

#pageSelect2 {
    border-radius: 5px;
    padding: 2px;
    border: none;
    background-color: rgb(226, 226, 226);
    box-shadow: 0px 0px 5px rgb(177, 177, 177);
}

#pageSelect2 option {
    border-radius: 5px;
    padding: 2px;
}

/* table styling ENDS */

.create-voucher{
    width: 70vw;
}

.create-voucher p{
    font-size: 1.2rem;
}

#new-voucher-container{
    width: 40vw;
    display: flex;
    flex-direction: column;
}

.voucher-code-container{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.valid-date-container{
    display: flex;
    align-items: center;
}

.input-box {
    height: 55px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgb(162, 162, 162);
    padding: 10px; 
    padding-left: 20px;
    line-height: 1;
    box-sizing: border-box; 
    font-size: 16px;
}

.valid-date{
    margin-right: 60px;
}

.valid-date input{
    width: 13rem;
}

#ensure-total-rached{
    margin: 30px 0px;
    display: flex;
    align-items: center;
}

#ensure-total-rached img{
    width: 25px;
    height: 25px;
    margin-right: 20px;
}

.criteria-input-wrapper{
    width: 90vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.criteria-input{
    width: 25rem;
}

.criteria-input-container{
    margin-right: 50px;
}

.edit-btns{
    width: 120px;
    height: 40px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #FF7675;
    color: white;
    margin: 40px 0px;
}

.eps_btn_container{
    display: flex;
    justify-content: space-evenly;
    width: 15rem;
    align-items: center;
}

.eps_btn{
    width: 70px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #534FEB;
    background-color: #F6F6FE;
    color: #534FEB;
}

.p_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green_status{
    width: 70px;
    height: 28px;
    border-radius: 10px;
    margin-left: 40px;
    padding-top: 5px;
    cursor: pointer;
    background-color: #E6F5EE;
    color: #069855;
}