{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/admin_about_us.css' %}" />
  </head>
  <body>
    <h1 id="about-us-heading">ABOUT US</h1>
    <section id="about-us-wrapper">
        <div class="editor-box-heading-container">
            <h2 class="editor-heading">Who We Are</h2>
            <p contentEditable="true" class="editor-box"> 
                We are an innovative and dedicated team of educators, technologists, and enthusiasts driven by a shared passion for learning and teaching. Our e-learning platform is designed to provide high-quality, engaging, and accessible educational content to learners worldwide. Our comprehensive courses cover a wide range of subjects, catering to diverse learning needs and preferences, from academic subjects to professional development and personal enrichment.   
            </p>
        </div>
        <div class="editor-box-heading-container">
            <h2 class="editor-heading">Our Vision</h2>
            <p contentEditable="true" class="editor-box">
                Our vision is to revolutionize the education landscape by making learning accessible and effective for everyone. We aspire to be the world's leading e-learning platform, transforming lives through knowledge and empowering individuals to achieve their fullest potential. We envision a future where education is not limited by geography, resources, or time, but is a universally accessible tool for personal and professional growth.    
            </p>
        </div>
        <div class="editor-box-heading-container">
            <h2 class="editor-heading">Our Mission</h2>
            <p contentEditable="true" class="editor-box">
                Our mission is to democratize education by providing top-tier learning experiences that are accessible to all. We aim to bridge the gap between learners and quality education by leveraging technology and innovative teaching methodologies. Our goal is to create a dynamic and interactive learning environment that fosters curiosity, encourages skill development, and supports lifelong learning. We are committed to continuously enhancing our platform to meet the evolving needs of our learners.    
            </p>
        </div>
        <div class="editor-box-heading-container">
            <h2 class="editor-heading">Our Values</h2>
            <p contentEditable="true" class="editor-box">    
            </p>
        </div>
        <div class="editor-box-heading-container">
            <h2 class="editor-heading">Our Story</h2>
            <p contentEditable="true" class="editor-box">    
            </p>
        </div>
    </section>
    <div class="btn-container">
        <button id="submit-btn">Submit</button>
    </div>
  </body>
</html>
