<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Submissions</title>
</head>
<body>
    <h1>All Submissions</h1>
    <table>
        <thead>
            <tr>
                <th>Assignment Title</th>
                <th>Student</th>
                <th>Download</th>
            </tr>
        </thead>
        <tbody>
            {% for submission in submissions %}
            <tr>
                <td>{{ submission.assignment.title }}</td>
                <td>{{ submission.student.username }}</td>
                <td><a href="{{ submission.submission.url }}" download>Download</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
