<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'assets_by_provider/css/course_cp.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

  </head>
  <body>
    <section class="Dashboard">
      <!-- Left Slider -->
      <div class="sidebar">
        <div class="logoplusafter">
          <div class="logo">
            <img
              class="logos"
              src="{% static 'assets_by_provider/img/course_by_provider/newlogo.png' %}"
              alt=""
              width="50px"
            />
          </div>
          <div class="after-logo">
            <p>UPSKyED</p>
          </div>
        </div>

        <nav>
          <ul>
            <li>
              <a href="{% url 'provider_index' %}">
                <img src="{% static 'assets_by_provider/img/Dashboard_main_by_provider/home.png' %}" alt="" width="24px" />
                <span style="padding-left:40px">&nbsp; Dashboard </span><span class="notification-dot"></span>
              </a>
            </li>

            <li>
              <a href="{% url 'provider_profile' %}">
                <img src="{% static 'assets_by_provider/img/Dashboard_main_by_provider/people.png' %}" alt="" width="20px" />
                <span style="padding-left:36px">&nbsp; &nbsp;Profile</span>
              </a>
            </li>
            <li>
              <a href="{% url 'provider_course' %}">

                  <img src="{% static 'assets_by_provider/img/Dashboard_main_by_provider/school1.png' %}" alt="" width="30px" />
                <span style="padding-left:45px"> Course details </span>
              </a>
            </li>
            <li>
              <a href="{% url 'provider_payout_statement' %}">
                <img src="{% static 'assets_by_provider/img/Dashboard_main_by_provider/ps.png' %}" alt="" width="60px" />
                <span style="padding-left:45px"> Payout statement </span>
              </a>
            </li>
            <li>
              <a href="{% url 'provider_settings' %}">
              <img src="{% static 'assets_by_provider/img/Dashboard_main_by_provider/settingss.png' %}" alt="" width="40px" />
                <span style="padding-left:45px">Settings </span>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="{% static 'assets_by_provider/img/Dashboard_main_by_provider/info1.png' %}" alt="" width="30px"/>
                <span style="padding-left:45px">Info </span>
              </a>
            </li>
            <li>
              <a href="{% url 'logout' %}" class="icons">
                <img src="{% static 'assets_by_provider/img/course_detail_sub_by_provider/logout.png' %}" alt="" width="30px"/>
                <span style="padding-left:45px">Logout</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>

      <!-- Middle Dashboard -->
      <div class="Dashboard-middle">
        <div class="Earning">Earnings</div>
        <div class="input-section">
          <input id="courseSearch" type="text" placeholder="search" />
          <img
            src="{% static 'assets_by_provider/img/course_by_provider/search.png' %}"
            alt="search"
            style="width: 16px"
          />
        </div>

        <!-- Right Dashboard -->
        <div class="Dashboard-right">
          <div class="dash-right-card">
              {% if profile == 10 %}
              <div class="profile-pic">
                <img src="{% static 'assets_by_provider/img/Dashboard_main_by_provider/profile.png' %}" alt="Profile Picture" />
                <div class="online-status"></div>
              </div>
              {% else %}
              <div class="profile-pic">
                <img src="{{ profile.profile_picture.url }}" alt="Profile Picture" />
                <div class="online-status"></div>
              </div>
              {% endif %}
            <div class="user-info">
              <div class="name">{{ request.user.username }}</div>
              <div class="role">UX/UI Designer</div>
            </div>
            <div class="notifications">
              <div class="notification-icon">
                <span class="notification-count">2</span>
              </div>
            </div>
          </div>
        </div>

        <div class="dash-mid-mid">
          <div class="dashboard">
            <div class="card">
              <img src="{% static 'assets_by_provider/img/course_by_provider/Users.png' %}" alt="" width="15%" />
              <div class="value">{{total_enrollment_count}}</div>
              <div class="label">Total Enrollment</div>
            </div>

            <div class="card">
              <img src="{% static 'assets_by_provider/img/course_by_provider/Notebook.png' %}" alt="" width="15%" />
              <div class="value">{{ current_month }}</div>
              <div class="label">Current Enrollment</div>
            </div>
            <div class="card">
              <img src="{% static 'assets_by_provider/img/course_by_provider/Crown.png' %}" alt="" width="15%" />
              <div class="value">Rs {{total_earnings}}</div>
              <div class="label">Total Earning</div>
            </div>
            <div class="card">
              <img src="{% static 'assets_by_provider/img/course_by_provider/Users (1).png' %}" alt="" width="15%" />
              <div class="value">{{this_month_count}}</div>
              <div class="label">This Month Enrollment</div>
            </div>
            <div class="card">
              <img src="{% static 'assets_by_provider/img/course_by_provider/school.png' %}" alt="" width="15%" />
              <div class="value">{{total_course}}</div>
              <div class="label">Total Courses</div>
            </div>
            <div class="card">
              <img src="{% static 'assets_by_provider/img/course_by_provider/Crown (1).png' %}" alt="" width="15%" />
              <div class="value">Rs {{this_month_earnings}}</div>
              <div class="label">This Month Earning</div>
            </div>
          </div>
          <!-- hbhhjh -->
          <div class="course-container">
            {% for course in uploaded_courses %}
            <a href="{% url 'provider_course_detail_sub' course.id %}">
            <div class="course-card">
              <div class="course-header">
                <span class="course-number">Course {{ forloop.counter }}</span>
                <h5>{{ course.title }} <br />Experience Design</h5>
              {% if course.image %}
                  <img class="sitting" src="{{ course.image.url }}" alt="img" />
              {% else %}
                  <img class="sitting" src="{% static 'default-course.jpg' %}" alt="default image" />
              {% endif %}
              </div>

              <div class="course-footer">
                <p>{{ course.description|truncatewords:5 }}</p>
                <div class="author">
                  {% if course.image %}
                  <img src="{{ course.image.url }}" alt="" width="6%"/>
                  {% else %}
                  <img src="{% static 'default-course.jpg' %}" alt="" width="6%"/>
                  {% endif %}
                  <p class="nn">{{ user.username }}</p>
                  <p class="ls"> lessons • quiz</p>
                </div>
              </div>

            </div>
          </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>

  <!-- Footer Up Section -->
    <section class="footer-up">
      <div class="foot-left">
        <h2>UPSKyEd</h2>
        <p>
          Top learning experiences that create more <br />talent in the world.
        </p>
      </div>

      <div class="foot-right">
        <div class="product">
          <h2>Product</h2>
          <ul>
            <!-- <li>Overview</li> -->
            <li><a href="">Overview</a></li>
            <li><a href="">Features</a></li>
            <li><a href="">Solutions</a></li>
            <li><a href="">Tutorials</a></li>
            <li><a href="">Pricing</a></li>
          </ul>
        </div>
        <div class="product">
          <h2>Company</h2>
          <ul>
            <li><a href="">About us</a></li>
            <li><a href="">Careers</a></li>
            <li>
              <a href="">Press</a>
            </li>
            <li><a href="">News</a></li>
          </ul>
        </div>
        <div class="product">
          <h2>Social</h2>
          <ul>
            <li><a href="">Twitter</a></li>
            <li><a href="">Linkedin</a></li>
            <li><a href="">GitHub</a></li>
            <li><a href="">Dribble</a></li>
          </ul>
        </div>
        <div class="product">
          <h2>Legal</h2>
          <ul>
            <li><a href="">Terms</a></li>
            <li><a href="">Privacy</a></li>
            <li><a href="">Cookies</a></li>
            <li><a href="">Contact</a></li>
          </ul>
        </div>
      </div>
    </section>

    <!-- Footer Section -->
    <section class="footer">
      <div class="footer-left">
        <h2>© 2024 UPSKyEd. All rights reserved.</h2>
      </div>

      <div class="footer-right">
        <div class="icon1">
          <a href="">
            <img src="{% static 'assets_by_provider/img/course_by_provider/Social icon.png' %}" alt="img"
          /></a>

          <a href="">
            <img src="{% static 'assets_by_provider/img/course_by_provider/linkedin.png' %}" alt="img"
          /></a>

          <a href=""> <img src=".{% static 'assets_by_provider/img/course_by_provider/fb.png' %}" alt="img" /></a>

          <a href=""> <img src="{% static 'assets_by_provider/img/course_by_provider/github.png' %}" alt="img" /></a>

          <a href=""> <img src="{% static 'assets_by_provider/img/course_by_provider/ball.png' %}" alt="img" /></a>
        </div>
      </div>
    </section>
<script>
  document.getElementById('courseSearch').addEventListener('input', function () {
    const searchTerm = this.value.toLowerCase();
    const courseCards = document.querySelectorAll('.course-card');

    courseCards.forEach(card => {
      const titleElement = card.querySelector('h5');
      const titleText = titleElement.textContent.toLowerCase();

      if (titleText.includes(searchTerm)) {
        card.parentElement.style.display = ''; // Show the <a> tag
      } else {
        card.parentElement.style.display = 'none'; // Hide the <a> tag
      }
    });
  });
</script>


  </body>
</html>
