{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UPSKyED</title>
    <link rel="icon" href="{% static 'assets/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/faq.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Righteous&family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

        <link rel="icon" href="{% static 'assets/logo.png' %}" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="{% static 'css/landing_page_before_login.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Righteous&family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet">

           <link rel="icon" href="{% static 'assets/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/my_learnings.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Righteous&family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
        <script>
            let showPasswordTs = false;

        function togglePasswordVisibilityTs() {
            showPassworTs = !showPassworTs;

            const passwordInput = document.getElementById('passwordTs');
            const toggleIcon = document.getElementById('toggleIconTs');

            // Update input type and icon
            passwordInput.type = showPassworTs ? 'text' : 'password';
            toggleIcon.className = showPassworTs ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye';
        }

        let showPasswordTi = false;

        function togglePasswordVisibilityTi() {
            showPassworTi = !showPassworTi;

            const passwordInput = document.getElementById('passTi');
            const toggleIcon = document.getElementById('toggleIconTi');

            // Update input type and icon
            passwordInput.type = showPassworTi ? 'text' : 'password';
            toggleIcon.className = showPassworTi ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye';
        }
        </script>
</head>
<body>
    <div class="navbar">
        <div class="left-section">
            <a href="{% url 'landing_page_before_login' %}">
                <img class="logo" src="{% static 'assets/logo.png' %}" alt="">

            </a>
            <p class="company-name">UPSKyED</p>
            <div class="searchBar">
                <i class="fa fa-search" aria-hidden="true"></i>
                <input type="text" id="search" name="search" placeholder="Search">
                <a class="categories explore">
                    Explore
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </a>
            </div>
            <ul class="main-category">
                <li class="first-category">Web Development</li>
                <li class="second-category">Mobile App Development</li>
                <li class="third-category">Programming Languages</li>
                <li class="fourth-category"> Software Engineering</li>
                <li class="fifth-category">Block Chain & Crypto Currency</li>
                <li class="sixth-category">Internet of things</li>
                <li class="seventh-category">Cloud Computing</li>
                <li class="eight-category">Data Science & Machine Learning</li>
                <li class="ninth-category">Cybersecurity</li>
            </ul>
            <ul class="web-development-category category ">
                <li>HTML / CSS</li>
                <li>Javascript</li>
                <li>Bootstrap</li>
                <li>React Js</li>
                <li>Angular</li>
                <li>Node Js</li>
                <li>Express Js</li>
            </ul>
            <ul class="mobile-developement-category category">
                <li>Android Development with Java/ Kotlin
                </li>
                <li>iOS Development with Swift</li>
                <li> React Native </li>
            </ul>
            <ul class="programming-category category">
                <li>Python</li>
                <li>Java</li>
                <li>C++</li>
                <li>C#</li>
                <li>Ruby</li>
                <li>PHP</li>
                <li>Go</li>
            </ul>
            <ul class="engineering-category category">
                <li>Software Development Lifecycle (SDLC)</li>
                <li>Agile and Scrum</li>
                <li> DevOps Principles</li>
                <li>Software Testing and Quality Assurance</li>
            </ul>
            <ul class="block-chain-category category">
                <li>Blockchain Fundamentals</li>
                <li> Smart Contract Development</li>
                <li>Cryptocurrency and Bitcoin Basic</li>
            </ul>
            <ul class="iot-category category">
                <li>Introduction to loT
                </li>
                <li>IoT Platforms and Technologies
                </li>
                <li> IoT Security and Privacy</li>
            </ul>
            <ul class="cloud-category category">
                <li> Introduction to Cloud Computing
                </li>
                <li>Amazon Web Services (AWS)
                </li>
                <li>Microsoft Azure</li>
                <li>Google Cloud Platform (GCP)</li>
                <li>DevOps Practices and Tools</li>
            </ul>
            <ul class="data-science-category category">
                <li>Python for Data Science
                </li>
                <li>Data Analysis with Pandas
                </li>
                <li>NumPy and SciPy</li>
                <li>Machine Learning Fundamentals</li>
                <li>Deep Learning with TensorFlow or PyTorch</li>
                <li>Natural Language Processing</li>
            </ul>
            <ul class="cybersecurity-category category">
                <li> Introduction to Cybersecurity
                </li>
                <li>Ethical Hacking
                </li>
                <li>Network Security</li>
                <li>Web Application Security</li>
                <li> Cryptography</li>
                <li> Incident Response and Forensics</li>
            </ul>
        </div>
        {% if user.is_authenticated %}
        <div class="right-section">
            <a href="{% url 'landing_page_before_login' %}" class="active">Home</a>

            <a href="{% url 'my_learnings' %}">My Learnings</a>


            <!-- <a href="{% url 'common_discussion_forum' %}">Discussion Forum</a> -->
            <div class="profile-container">
                {% if user.profile and user.profile.profile_picture %}
                <div class="profile">
                    <img src="{{ user.profile.profile_picture.url }}" alt="" width="40px">
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </div>
                {% else %}
                <div class="profile">
                    <img src="{% static 'assets/user.png' %}" alt="" width="40px">
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </div>
                {% endif %}
                <ul>
                    <a href="{% url 'profile_page' %}">
                        <li>Profile</li>
                    </a>
                    <a href="{% url 'certificate' %}">
                        <li>My Certificates</li>
                    </a>
                    <a href="{% url 'blog' %}">
                        <li>Blog</li>
                    </a>
                    <a href="{% url 'payment_history' %}">
                        <li>Payment History</li>
                    </a>
                    <a href="{% url 'referral' %}">
                        <li>Referral</li>
                    </a>
                    <a href="{% url 'ticket' %}">
                        <li>Support & Help</li>
                    </a>
                    <a href="{% url 'logout' %}">
                        <li>Log out</li>
                    </a>
                </ul>
            </div>
        </div>
    </div>

    {% else %}
    <div class="middle-section">
        <a href="{% url 'landing_page_before_login' %}">
            <p class="active">Home</p>
        </a>
        <a href="{% url 'tech_courses' %}">
            <p>Courses</p>
        </a>

        <a href="{% url 'about_us' %}">
            <p>About us</p>
        </a>

        <a href="{% url 'contact_us' %}">
            <p>Contact us</p>
        </a>
        <a href="{% url 'faq' %}">
            <p>FAQs</p>
        </a>
    </div>
    <div class="right-section">
        {% if user.is_authenticated %}
        <a href="#"> <a href="{% url 'cart' %}"><i class="fa fa-shopping-cart cart" aria-hidden="true"></i></a>
        </a>
        {% endif %}
        <button id="loginButton" class="btn loginButton">Sign in</button>
        <button id="signupButton" class="btn signupButton">Create free account</button>
    </div>
</div>
<div class="authentication-modal" id="auth-modal">
    <div id="signup" class="auth signup">
        <img class="close" src="{% static 'assets/landing_page/close.png' %}" width="25px" alt="Icon">
        <h3 style="margin-bottom: 5px">Sign Up</h3>
        <p style="margin-top: 0; font-size: 0.88rem;
            font-weight: 400; margin-bottom: 40px">Sign Up to create account</p>
           <form method="post">
    {% csrf_token %}
    <div class="d-flex flex-column">

        <!-- Full Name -->
        <div class="d-flex flex-column mb-3">
            <label for="{{ studnetform.Full_Name.id_for_label }}">Full Name</label>
            {{ studnetform.Full_Name }}
            {% if studnetform.Full_Name.errors %}
                <div class="text-danger">{{ studnetform.Full_Name.errors }}</div>
            {% endif %}
        </div>

        <!-- Mobile Number -->
        <div class="d-flex flex-column mb-3">
            <label for="{{ studnetform.Mobile_no.id_for_label }}">Mobile Number</label>
            {{ studnetform.Mobile_no }}
            {% if studnetform.Mobile_no.errors %}
                <div class="text-danger">{{ studnetform.Mobile_no.errors }}</div>
            {% endif %}
        </div>

        <!-- Email -->
        <div class="d-flex flex-column mb-3">
            <label for="{{ studnetform.EmailID.id_for_label }}">Email</label>
            {{ studnetform.EmailID }}
            {% if studnetform.EmailID.errors %}
                <div class="text-danger">{{ studnetform.EmailID.errors }}</div>
            {% endif %}
        </div>

        <!-- Date of Birth -->
        <div class="d-flex flex-column mb-3">
            <label for="{{ studnetform.DOB.id_for_label }}">Date of Birth</label>
            {{ studnetform.DOB }}
            {% if studnetform.DOB.errors %}
                <div class="text-danger">{{ studnetform.DOB.errors }}</div>
            {% endif %}
        </div>

        <!-- Gender -->
        <div class="d-flex flex-column mb-3">
            <label for="{{ studnetform.Gender.id_for_label }}">Gender</label>
            {{ studnetform.Gender }}
            {% if studnetform.Gender.errors %}
                <div class="text-danger">{{ studnetform.Gender.errors }}</div>
            {% endif %}
        </div>

        <!-- Create Password -->
        <div class="d-flex flex-column mb-3">
            <label for="id_password1">Create Password</label>

                {{ studnetform.password1 }}

            {% if studnetform.password1.errors %}
                <div class="text-danger">{{ studnetform.password1.errors }}</div>
            {% endif %}
        </div>

        <!-- Re-enter Password -->
        <div class="d-flex flex-column mb-3">
            <label for="id_password2">Re-enter Password</label>
                {{ studnetform.password2 }}

            {% if studnetform.password2.errors %}
                <div class="text-danger">{{ studnetform.password2.errors }}</div>
            {% endif %}
        </div>

        <!-- Submit -->
        <button type="submit" class="join mt-3">Join For Free</button>
    </div>
</form>

                <div class="break">
            <hr>
            <p style="font-size: 0.88rem; color: #98989A; font-weight: 300; padding: 6px">OR</p>
            <hr>
        </div>
        <button class="social-btn">
            <img src="{% static 'assets/landing_page/google.png' %}" alt="" width="20px">
            <p>Continue with Google</p>
        </button>
        <button class="social-btn">
            <img src="{% static 'assets/landing_page/facebook.png' %}" alt="" width="20px">
            <p>Continue with Facebook</p>
        </button>
        <p style="font-size: 0.92rem">Already have an account with UPSKyED? <a href="#" class="login">Log
                In</a></p>
    </div>

    <div id="login" class="auth login">

        <img class="close" src="{% static 'assets/landing_page/close.png' %}" width="25px" alt="Icon">
        <h3 style="margin-bottom: 45px">Welcome back</h3>
           <form method="post">
    {% csrf_token %}
    <div class="d-flex flex-column">
        <div class="d-flex flex-column">
            <label for="inEmail">Email</label>
            <input id="inEmail" type="email" name="email"/>
        </div>
        <div class="d-flex flex-column">
            <label for="password">Password</label>
            <div class="d-flex" style="position: relative;">
                <input type="password" id="inPass" name="password" placeholder="Enter your password">
                <button onclick="togglePasswordVisibilityI()" type="button" style="border:none;position: absolute;right: 0;bottom: 42%;background-color: transparent;">
                    <i id="toggleIconI" class="fa-solid fa-eye"></i>
                </button>
            </div>
        </div>
        <p style="align-self: flex-start;text-decoration: underline;color: #0085FF;line-height: 18px;font-weight: 400;font-size: 12px;">Forgot password?</p>

        <!-- Login button -->
        <button type="submit" class="btn btn-primary mt-3">Login</button>
    </div>
</form>
        <div class="break">
            <hr>
            <p style="font-size: 0.88rem; color: #98989A; font-weight: 300; padding: 6px">OR</p>
            <hr>
        </div>
        <button class="social-btn">
            <img src="{% static 'assets/landing_page/google.png' %}" alt="" width="20px">
            <p>Continue with Google</p>
        </button>
        <button class="social-btn">
            <img src="{% static 'assets/landing_page/facebook.png' %}" alt="" width="20px">
            <p>Continue with Facebook</p>
        </button>
        <p style="font-size: 0.92rem">New to UPSKyED? <a href="#" class="signup">Sign Up</a></p>
    </div>
</div>
    {% endif %}


    <div class="faq-container">
        <div class="header-container">
            <img src="{% static 'assets/blog/section.png' %}" alt="" width="100%" id="header-container-bg-img">
            <div class="heading">
                <div class="flex">
                    <p>Home</p>
                    <img src="{% static 'assets/up-arrow.png' %}" alt="" width="15px" style="transform: rotate(90deg)">
                    <p>FAQs</p>
                </div>
                <h1 style="font-weight: 500">Frequently Asked Questions</h1>
            </div>
        </div>
        <div class="faq-content flex">
            <div class="left-section">
                <h5>Frequestly asked questions</h5>
                <h6>About UPSKyED</h6>
                <ul id="faq1">
                    <li>What is UPSKyED?</li>
                    <li>What do UPSKyED courses include?</li>
                    <li>Where can I access UPSKyED?</li>
                    <li>How do I create or log in to my account?</li>
                </ul>
                <h6>Getting Started</h6>
                <ul id="faq2">
                    <li>How do I find a course?</li>
                    <li>Can I preview a course before purchasing?</li>
                    <li>How do I create a course?</li>
                    <li>How do I start my course?</li>
                    <li>Do I have to start or complete my course by a certain time?</li>
                    <li>What course features are available?</li>
                    <li>Do I receive anything after I complete a course?</li>
                    <li>What is available on UPSKyED for certification exam preparation?</li>
                </ul>
                <h6>Purchase and Payments</h6>
                <ul id="faq3">
                    <li>How do I pay for a course?</li>
                    <li>What subscriptions are available?</li>
                    <li>How do I use UPSKyED credits?</li>
                    <li>I am having issues with my refund request.</li>
                    <li>Can I change or exchange my course?</li>
                    <li>I am receiving a payment error.</li>

                </ul>
                <h6>Troubleshooting</h6>
                <ul id="faq4">
                    <li>I am having trouble logging in.</li>
                    <li>My UPSKyED course is missing.</li>
                    <li>I’m having issues with my audio or video.</li>
                    <li>I’m having trouble with the course content or resources.</li>
                    <li>Where else can I go for help?</li>
                </ul>
                <h4>About UPSKyED</h4>
                <h6>What is UPSKyED</h6>
                <p>Udemy's mission is to create new possibilities for people and organizations everywhere. Our global
                    marketplace features an extensive, multi-language library, which includes thousands of courses
                    taught by real-world experts. You can take courses across a wide range of categories, some of which
                    include: business & entrepreneurship, programming, academics, the arts, health & fitness, language,
                    music, and more!</p>
                <h6>What do UPSKyED courses include?
                </h6>
                <p>The foundation of each UPSKyED course is its lectures, which can include videos, slides, and text.
                    Each UPSKyED course is created, owned, and managed by the instructor(s). In addition, instructors
                    can add resources and various types of practice activities, as a way to enhance the learning
                    experience of students. !</p>
                <ul class="para-points">
                    <li>Learn More about us
                        <span style="text-decoration: underline; font-weight: 400;">More about
                            features.</span>
                    </li>
                </ul>
                <h6>Where can i access UPSKyED?</h6>
                <p>You can access your UPSKyED courses from various devices and platforms, on both PC and Mac
                    desktops/laptops, as well as Android and iOS mobile devices.</p>
                <ul class="para-points">
                    <li>View our
                        <span style="text-decoration: underline; font-weight: 400;">system requirements.</span>

                    </li>
                </ul>
                <h4>Getting Started</h4>
                <h6>How do I find a course?</h6>
                <p>Learn how to search for courses on UPSKyED.</p>
                <h6>Can I preview a course before purchasing?</h6>
                <p>Yes, learn how to preview a course and review key information.</p>
                <h6>How do I create a course?</h6>
                <p>Learn how to become an instructor on UPSKyED.</p>
                <h4>Purchase and Payments</h4>
                <h6>What subscriptions are available?</h6>
                <p>Learn about UPSKyED’s Personal Plan subscription.</p>
                <h6>How do I use UPSKyED credits?</h6>
                <p>Learn more about UPSKyED credits.</p>
                <h6>I am having issues with my refund request.</h6>
                <p>View answers to commonly asked questions we receive regarding refunds.</p>
                <h4>Troubleshooting</h4>
                <h6>I am having trouble logging in.</h6>
                <p>Learn how to troubleshoot login issues.</p>
                <h6>Where else can I go for help?</h6>
                <p>For questions not related to the course curriculum, our Help Center has extensive information
                    regarding UPSKyED’s various features, and articles with troubleshooting steps. Use the search tool
                    or topics to help you quickly resolve any issues you encounter.</p>
                <p>Our support team is also happy to help.</p>
                <h4 style="margin-top: 50px;">Was this article helpful?</h4>
                <div class="btn-container">
                    <button>
                        <i class="fa fa-thumbs-o-up" aria-hidden="true" onclick="toggleLike(this)"></i>
                        <i class="fa fa-thumbs-up" aria-hidden="true" style="display: none;"></i>
                    </button>
                    <button>
                        <i class="fa fa-thumbs-o-down" aria-hidden="true" onclick="toggleDislike(this)"></i>
                        <i class="fa fa-thumbs-down" aria-hidden="true" style="display: none;"></i>
                    </button>
                </div>
            </div>
            <div class="faq-right-section">
                <div class="search-container flex">
                    <input type="text" name="search" placeholder="Search here">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
                <div class="categories-container">
                    <h3 style="font-weight: 600; font-size: 1.2rem;">Related Articles</h3>
                    <ul>
                        <li>Transaction Method on UPSKyED</li>
                        <li>Single User Plan : FAQS</li>
                        <li>Forever Access</li>
                        <li>More about UPSKyED features </li>
                        <li>Download course & materials</li>
                    </ul>
                </div>
                <div class="categories-container">
                    <h3 style="font-weight: 600; font-size: 1.2rem">Student Topics</h3>
                    <ul>
                        <li>Getting Started</li>
                        <li>Account/Profile</li>
                        <li>Trouble Shooting</li>
                        <li>Learning Experience</li>
                        <li>Refund</li>
                    </ul>
                </div>
                <a href="{% url 'contact_us' %}"><button>Contact us</button></a>
            </div>
        </div>
    </div>
    <footer class="faq-footer-section">
        <div class="faq-company-details">
            <div class="description">
                <h3 style="font-weight: 600;color: #0085FF">E-Learning</h3>
            </div>
            <div class="app">
                <p style="font-size: 1rem; color: #fff;">Top learning experiences that <br>create more
                    talent in the world.</p>
            </div>
            <div>
                <ul>
                    <li class="faq-list-header">Company</li>
                    <a href="{% url 'about_us' %}">
                        <li class="faq-footer-list">About us</li>
                    </a>
                    <a href="{% url 'faq' %}">
                        <li class="faq-footer-list">FAQs</li>
                    </a>
                    <a href="{% url 'blog' %}">
                        <li class="faq-footer-list">Blog</li>
                    </a>
                    <a href="{% url 'ticket' %}">
                        <li class="faq-footer-list">Support</li>
                    </a>

                </ul>
            </div>
            <div>
                <ul>
                    <li class="faq-list-header">Social</li>
                    <li class="faq-footer-list">Twitter</li>
                    <li class="faq-footer-list">LinkedIn</li>
                    <li class="faq-footer-list">GitHub</li>
                    <li class="faq-footer-list">Dribble</li>

                </ul>
            </div>
            <div>
                <ul>
                    <li class="faq-list-header">Legal</li>
                    <li class="faq-footer-list">Terms</li>
                    <li class="faq-footer-list">Privacy</li>
                    <a href="{% url 'contact_us' %}">
                        <li class="faq-footer-list">Contact Us</li>
                    </a>
                </ul>
            </div>
        </div>
        <div class="footer-below-section">
            <p>© 2024 E-Learning. All rights reserved.</p>
            <div class="socials">
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-github"></i>
                <i class="fa-brands fa-whatsapp"></i>
            </div>
        </div>
    </footer>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const categories = document.querySelector('.left-section .categories');
            const categoryList = document.querySelector('.main-category');
            const mainCategories = document.querySelectorAll('.main-category li');
            const categoryLists = document.querySelectorAll('.category');

            categories.addEventListener('click', function () {
                // Toggle the 'active' class on the main category list
                categoryList.classList.toggle('active');
                categoryLists.forEach(function (category) {
                    category.classList.remove('active');
                });
            });

            mainCategories.forEach(function (mainCategory, index) {
                mainCategory.addEventListener('click', function () {
                    // Remove the 'active' class from all category lists
                    categoryLists.forEach(function (category) {
                        category.classList.remove('active');
                    });

                    // Add the 'active' class to the clicked category list
                    categoryLists[index].classList.add('active');
                });
            });
        });

        // Commenting this to fix Profile Card not appearing on click in Navbar
        // document.addEventListener('DOMContentLoaded', function () {
        // document.addEventListener('DOMContentLoaded', function () {
        // const profile = document.querySelector('.profile');
        //     const listItems = document.querySelectorAll('.profile-container ul li');
        //     const ul = document.querySelector('.profile-container ul');
        //     const chevron = document.querySelector('.fa-chevron-down');

        //     // Toggle 'active' class on ul when profile is clicked
        //     profile.addEventListener('click', function () {
        //         ul.classList.toggle('active');
        //         chevron.classList.toggle('rotate');
        //     });

        //     // Add 'active' class to clicked li and remove from others
        //     listItems.forEach(function (item) {
        //         item.addEventListener('click', function () {
        //             // Remove active class from all list items
        //             listItems.forEach(function (li) {
        //                 li.classList.remove('active');
        //             });

        //             // Add active class to the clicked item
        //             this.classList.add('active');
        //         });
        //     });
        // });

        function toggleLike(element) {
            const likeIcon = element.parentElement.querySelector('.fa.fa-thumbs-up');
            const outlineLikeIcon = element.parentElement.querySelector('.fa.fa-thumbs-o-up');

            likeIcon.style.display = likeIcon.style.display === 'none' ? 'inline-block' : 'none';
            outlineLikeIcon.style.display = outlineLikeIcon.style.display === 'none' ? 'inline-block' : 'none';

            // If like button is clicked, reset dislike button to 'thumbs-o-down'
            const dislikeIcon = element.parentElement.nextElementSibling.querySelector('.fa.fa-thumbs-down');
            const outlineDislikeIcon = element.parentElement.nextElementSibling.querySelector('.fa.fa-thumbs-o-down');
            dislikeIcon.style.display = 'none';
            outlineDislikeIcon.style.display = 'inline-block';
        }

        function toggleDislike(element) {
            const dislikeIcon = element.parentElement.querySelector('.fa.fa-thumbs-down');
            const outlineDislikeIcon = element.parentElement.querySelector('.fa.fa-thumbs-o-down');

            dislikeIcon.style.display = dislikeIcon.style.display === 'none' ? 'inline-block' : 'none';
            outlineDislikeIcon.style.display = outlineDislikeIcon.style.display === 'none' ? 'inline-block' : 'none';

            // If dislike button is clicked, reset like button to 'thumbs-o-up'
            const likeIcon = element.parentElement.previousElementSibling.querySelector('.fa.fa-thumbs-up');
            const outlineLikeIcon = element.parentElement.previousElementSibling.querySelector('.fa.fa-thumbs-o-up');
            likeIcon.style.display = 'none';
            outlineLikeIcon.style.display = 'inline-block';
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>

        {% if user.is_authenticated %}

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const categories = document.querySelector('.left-section .categories');
                const categoryList = document.querySelector('.main-category');
                const mainCategories = document.querySelectorAll('.main-category li');
                const categoryLists = document.querySelectorAll('.category');

                categories.addEventListener('click', function () {
                    // Toggle the 'active' class on the main category list
                    categoryList.classList.toggle('active');
                    categoryLists.forEach(function (category) {
                        category.classList.remove('active');
                    });
                });

                mainCategories.forEach(function (mainCategory, index) {
                    mainCategory.addEventListener('click', function () {
                        // Remove the 'active' class from all category lists
                        categoryLists.forEach(function (category) {
                            category.classList.remove('active');
                        });

                        // Add the 'active' class to the clicked category list
                        categoryLists[index].classList.add('active');
                    });
                });
            });

            document.addEventListener('DOMContentLoaded', function () {
                const profile = document.querySelector('.profile');
                const listItems = document.querySelectorAll('.profile-container ul li');
                const ul = document.querySelector('.profile-container ul');
                const chevron = document.querySelector('.fa-chevron-down');

                // Toggle 'active' class on ul when profile is clicked
                profile.addEventListener('click', function () {
                    ul.classList.toggle('active');
                    chevron.classList.toggle('rotate');
                });

                // Add 'active' class to clicked li and remove from others
                listItems.forEach(function (item) {
                    item.addEventListener('click', function () {
                        // Remove active class from all list items
                        listItems.forEach(function (li) {
                            li.classList.remove('active');
                        });

                        // Add active class to the clicked item
                        this.classList.add('active');
                    });
                });
            });

            document.addEventListener('DOMContentLoaded', function () {
                const buttons = document.querySelectorAll('.buttons .btn');
                const containers = document.querySelectorAll('.containers');

                buttons.forEach(button => {
                    button.addEventListener('click', function () {
                        buttons.forEach(btn => btn.classList.remove('active'));
                        button.classList.add('active')
                        containers.forEach(container => container.classList.remove('active'))
                        const targetClass = button.getAttribute('data-target');
                        document.querySelector(`.containers.${targetClass}`).classList.add('active')
                    })
                })
            })

        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>

        {% else %}
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const categories = document.querySelector('.left-section .categories');
                const categoryList = document.querySelector('.main-category');
                const mainCategories = document.querySelectorAll('.main-category li');
                const categoryLists = document.querySelectorAll('.category');

                categories.addEventListener('click', function () {
                    // Toggle the 'active' class on the main category list
                    categoryList.classList.toggle('active');
                    categoryLists.forEach(function (category) {
                        category.classList.remove('active');
                    });
                });

                mainCategories.forEach(function (mainCategory, index) {
                    mainCategory.addEventListener('click', function () {
                        // Remove the 'active' class from all category lists
                        categoryLists.forEach(function (category) {
                            category.classList.remove('active');
                        });

                        // Add the 'active' class to the clicked category list
                        categoryLists[index].classList.add('active');
                    });
                });
            });



            document.addEventListener("DOMContentLoaded", function () {
                const loginButton = document.getElementById("loginButton");
                const signupButton = document.getElementById("signupButton");
                const loginModal = document.getElementById("login");
                const signupModal = document.getElementById("signup");
                const modalContainer = document.getElementById("auth-modal");

                function openModal(modal) {
                    modalContainer.classList.add("active");
                    modal.classList.add("active");
                }

                function closeModal() {
                    modalContainer.classList.remove("active");
                    loginModal.classList.remove("active");
                    signupModal.classList.remove("active");
                }

                loginButton.addEventListener("click", function () {
                    closeModal(); // Close any open modals first
                    openModal(loginModal);
                });

                signupButton.addEventListener("click", function () {
                    closeModal(); // Close any open modals first
                    openModal(signupModal);
                });

                modalContainer.addEventListener("click", function (event) {
                    if (event.target === modalContainer) {
                        closeModal();
                    }
                });

                const closeModalButtons = document.querySelectorAll(".close");
                closeModalButtons.forEach(button => {
                    button.addEventListener("click", closeModal);
                });
            });


            document.addEventListener("DOMContentLoaded", function () {
                // Select all sliders on the page
                const sliders = document.querySelectorAll(".wrapper");

                sliders.forEach(function (slider) {
                    const carousel = slider.querySelector(".carousel");
                    const firstCardWidth = carousel.querySelector(".card").offsetWidth;
                    const leftButton = slider.querySelector(".left");
                    const rightButton = slider.querySelector(".right");

                    leftButton.addEventListener("click", () => {
                        carousel.scrollLeft -= firstCardWidth;
                    });

                    rightButton.addEventListener("click", () => {
                        carousel.scrollLeft += firstCardWidth;
                    });
                });
            });

        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
        {% endif %}

</body>

</html>